.footer {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 2rem;
  padding: 3rem;
  color: $white;
  background-color: $black;
  letter-spacing: 3px;
  word-spacing: 3px;
  @media screen and (max-width : 765px){
      font-size: 1rem;
      padding: 1.4rem;
      letter-spacing: 2px;
  }
  a {
    color: $white;
    margin: 0 1rem;
  }
}