#work {
  width: 92vw;
  padding: 6vh 4vw;
  font-weight: bold;
}
#work h1 {
  padding: 5px 0px;
  border-bottom: 4px solid rgb(255, 44, 90);
  width: 6%;
}
#photos {
  width: 100%;
  columns: 3;
  column-gap: 2%;
  z-index: 1;
  transition: 0.4s ease-in-out;
}
#photos img {
  width: 100%;
  height: auto;
  margin: 4.5% 0px;
  transition: 0.4s ease-in-out;
}
#photos img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#gallery {
  position: relative;
}

.grid {
  position: relative;

}

.grid-wrapper {
  position: relative;
}